/sql_command.sql
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###< images ###
/public/images/avatar_user/**
!/public/images/avatar_user/.gitkeep
/public/images/banner_player/**
!/public/images/banner_player/.gitkeep
/public/images/banner_roster/**
!/public/images/banner_roster/.gitkeep 
###< images ###