{% extends 'base.html.twig' %}

{% block title %}admin{% endblock %}

{% block body %}
<div style='margin: 0 auto; width: 50%; padding: 4em 0; display:flex; justify-content:center'>
{{form(form)}}
</div>

<a href="{{path('app_admin')}}" class="button buttonGeneric">Retour</a>

<a class="button buttonGeneric" href="{{path('app_home')}}" onclick="return confirm('Rajout de serveur, es tu sur ?')">Call api creation serveur</a>
{% endblock %}